.list-nasabah-J9A {
  background-color: #f5f5f5;
  padding: 20px;
}

.background-asN {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}


.title-Fic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.text-Xg8 {
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
}

.chevron-breadcrumbs-CGU {
  display: flex;
  align-items: center;
}

.dashboard-7eL {
  font-size: 14px;
  color: #999999;
}

.fi-sr-caret-right-wNU {
  margin: 0 10px;
}

.list-nasabah-ofa {
  font-size: 14px;
  font-weight: bold;
}

.mat-table {
  width: 100%;
}

.mat-header-cell {
  font-weight: bold;
}

.mat-cell {
  font-size: 14px;
}

.mat-paginator {
  margin-top: 20px;
}

::ng-deep .mat-header-cell {
  font-weight: bold;
  background-color: #1A96F0; /* Header cell background color */
  color: #ffffff; /* Header cell text color */
}

.mat-cell {
  font-size: 14px;
}

.mat-paginator {
  margin-top: 20px;
}

.export-button {
  margin-left: 8px;
  background-color: #d8f1ff;
  color: #1A96F0;
  box-shadow: 0 2px 4px rgba(63, 81, 181, 0.5);
}
