.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}

.profile-dropdown {
  margin-left: auto;
  display: flex;
  align-items: center;

  button {
    color: #fff; 
  }
}

.spacer {
  flex: 1; 
}

.image_belajar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; 
}

.image_belajar img {
  width: 120px;
  height: 120px;
}

.center-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar-content {
  text-align: center;
}

.center-toolbar img {
  max-width: 100%;
  max-height: 100%;
}

.center-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar-content {
  text-align: center;
}
